
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {

    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --dark-blue: hsl(234, 12%, 34%);
    --gray-blue: hsl(229, 6%, 66%);
    --light-gray: hsl(0, 0%, 98%);

}
    

body {

    box-sizing: inherit;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    font-size: 100%;
    margin: 5.635rem 10rem 0 10rem;
}


p {

    color: var(--gray-blue)
}

h1, h2, h3 {

    color: var(--dark-blue)
}

.grid-card {

    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 250px;
    width: auto;
    padding: 1.875rem; 
    border-radius: 5px;
    box-shadow: var(--gray-blue) 0px 7px 29px 0px;

}


/* === Header === */


.header {

    width: 100%;
    margin-bottom: 3.75rem;
    margin-top: 5.625rem;
    

}

.header .header-title {
    margin-left: auto;
    margin-right: auto;
    width: 540px;
    padding: 1,875rem 1,875rem 0px 1,875rem;
    text-align: center;
    /* border: 2px solid black; */

}

.header-title h1 {

    font-weight: 200;
    font-size: 2.25rem;
}

.header-title h2 {

    font-weight: 600;
    font-size: 2.25rem;
}

.header-title p {

    margin-top: 1.25rem;
    font-weight: 200;
}











/* Grid structure */


.grid-container {

   
    display: grid;
    grid-gap: 1.875rem;
    grid-template-columns: 380px 380px 380px;  
    grid-template-rows: 250px 250px;
    grid-template-areas: 
        "supervisor team calc"
        "supervisor karma calc";
    align-items: center;
    justify-content: center;

}

img {

    align-self: flex-end;
}

.grid-container > div > h3 {

    font-weight: 600;
    font-size: 1.5rem;
}
.grid-container > div > p {

    font-weight: 200;
    font-size: 1rem;
    padding-top: 1rem;
}

.grid-card-supervisor {

    grid-area: supervisor;
    border-top: 5px solid var(--cyan);
      
}


.grid-card-team {
    grid-area: team;
    border-top: 5px solid var(--red);

}

.grid-card-karma {
    grid-area: karma;
    border-top: 5px solid var(--orange);  
}

.grid-card-calculator {
    grid-area: calc;
    border-top: 5px solid var(--blue);

}



.footer {

    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
}


.attribution {
     font-size: 11px;
     text-align: center; 
    
}
.attribution a {
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
    font-weight: 600;
    color: var(--dark-blue);


}



/* === Mobile Version (414px) === */


@media (max-width: 414px) {

    .header {

        width: 100%;
        margin-top: 3.125rem;
       
        
    
    }
    
    .header .header-title {
       
        width: auto;
        padding: 30px;
      
      
       
    
    }
    
    .header-title h1 {
    
        font-weight: 200;
        font-size: 1.5rem;
    }
    
    .header-title h2 {
    
        font-weight: 600;
        font-size: 1.5rem;
    }
    
    .header-title p {
    
        margin-top: 1.25rem;
        font-weight: 200;
    }

}



@media (max-width: 414px) {


    body {

        margin: 0;
    }

    .grid-container {

       
        display: grid;

        grid-template-areas: 

            "supervisor"
            "team"
            "karma"
            "calc";

        grid-template-columns: auto auto auto; 
        grid-gap: 0;
        grid-row-gap: 1.875rem;
        align-content: start;
              
    }


    .grid-section {

        margin: 5rem 1.875rem 1.875rem 1.875rem;
    }

    .grid-card {

        padding: 1.5rem; 
            
    
    }

    .grid-container > div > p {
 
        padding-top: 0;

}


@media (max-width: 414px) {


    .footer {

        margin-top: 30px;
    }

}





/* === Mobile Version (375px)==== */


@media (max-width: 375px) {

    .header {

        width: 100%;
        margin-top: 3.125rem;
       
        
    
    }
    
    .header .header-title {
       
        width: auto;
        padding: 1.875rem;
      
      
       
    
    }
    
    .header-title h1 {
    
        font-weight: 200;
        font-size: 1.5rem;
    }
    
    .header-title h2 {
    
        font-weight: 600;
        font-size: 1.5rem;
    }
    
    .header-title p {
    
        margin-top: 1.25rem;
        font-weight: 200;
    }

}

/* ===Mobile Version GRID=== */

@media (max-width: 375px) {


    body {

        margin: 0;
    }

    .grid-container {

       
        display: grid;

        grid-template-areas: 

            "supervisor"
            "team"
            "karma"
            "calc";

        grid-template-columns: auto auto auto; 
        grid-gap: 0;
        grid-row-gap: 1.875rem;
        align-content: start;
              
    }


    .grid-section {

        margin: 5rem 1.875rem 1.875rem 1.875rem;
    }

    .grid-card {

        padding: 1.5rem; 
            
    
    }

    .grid-container > div > p {
 
        padding-top: 0;

}


@media (max-width: 375px) {


    .footer {

        margin-top: 1.875rem;
    }

}







